{% extends 'base.html' %}
{% block content %}
<h1>Hii</h1>

<form>
    <p>Please select Name:</p>
    <input type="text" placeholder="Name" name="name1">
    <br>
    <p>Facilities:</p>
    {% for facilitie in facilities %}
      <input type="checkbox" name="fav_language" value="{{facilitie.title}}">
            <label for="{{facilitie.title}}">{{facilitie.title}}</label><br>

    {% endfor %}
    <br>
    <p>Please select Range:</p>
    <input name="range" type="range" min="0" max="7000">
    <br>
   
    <button type="submit">Submit</button>
</form>


{% for hotel in hotels %}
<hr>
<p>{{hotel.hotel_name}}</p>
<p>{{hotel.hotel_description}}</p>
<p>{{hotel.street}},{{hotel.city}},{{hotel.division}},{{hotel.country}} : {{hotel.zip_code}}</p>
{% endfor %}

{% endblock %}